version: '3.8'

services:
  client1:
    image: alpine:latest
    container_name: client1
    hostname: client1
    cap_add:
      - NET_ADMIN
    command: |
      sh -c "
      apk add --no-cache curl bash wget iproute2
      
      ip route del default
      ip route add default via 192.168.30.254
      
      tail -f /dev/null
      "
    networks:
      zone-c-bureautique:
        ipv4_address: 192.168.30.10
    restart: unless-stopped

  client2:
    image: alpine:latest
    container_name: client2
    hostname: client2
    cap_add:
      - NET_ADMIN
    command: |
      sh -c "
      apk add --no-cache curl bash wget iproute2
      
      ip route del default
      ip route add default via 192.168.30.254
      
      tail -f /dev/null
      "
    networks:
      zone-c-bureautique:
        ipv4_address: 192.168.30.20
    restart: unless-stopped

networks:
  zone-c-bureautique:
    external: true