version: '3.8'

services:
  client1:
    image: alpine:latest
    container_name: client1
    hostname: client1
    command: |
      sh -c "
      apk add --no-cache curl bash wget
      
      echo 'Client 1 demarre'
      echo 'Acces Grafana autorise via firewall'
      echo 'Acces direct MQTT/InfluxDB BLOQUE'
      
      tail -f /dev/null
      "
    networks:
      zone-c-bureautique:
        ipv4_address: 192.168.30.10
    restart: unless-stopped

  client2:
    image: alpine:latest
    container_name: client2
    hostname: client2
    command: |
      sh -c "
      apk add --no-cache curl bash wget
      
      echo 'Client 2 demarre'
      echo 'Acces Grafana autorise via firewall'
      echo 'Acces direct MQTT/InfluxDB BLOQUE'
      
      tail -f /dev/null
      "
    networks:
      zone-c-bureautique:
        ipv4_address: 192.168.30.20
    restart: unless-stopped

networks:
  zone-c-bureautique:
    external: true