version: '3.8'

services:
  capteur-t1:
    image: alpine:latest
    container_name: capteur-t1
    hostname: capteur-t1
    cap_add:
      - NET_ADMIN
    command: |
      sh -c "
      apk add --no-cache mosquitto-clients bash openssl iproute2
      
      ip route del default
      ip route add default via 192.168.10.254
      
      echo 'Capteur T1 demarre'
      
      while true; do
        TEMP=$$((20 + RANDOM % 15))
        TIMESTAMP=$$(date +%s)
      
        mosquitto_pub --cafile /certs/ca.crt --cert /certs/client-capteur.crt --key /certs/client-capteur.key -h 10.0.0.20 -p 8883 -t 'iot/temperature' -m '{\"sensor\":\"T1\",\"value\":'$$TEMP',\"unit\":\"C\",\"timestamp\":'$$TIMESTAMP'}'
      
        echo \"[$$(date)] Temperature envoyee: $$TEMP C\"
        sleep 5
      done
      "
    networks:
      zone-a-iot:
        ipv4_address: 192.168.10.10
    volumes:
      - ../certificates/certs:/certs:ro
    restart: unless-stopped

  capteur-c1:
    image: alpine:latest
    container_name: capteur-c1
    hostname: capteur-c1
    cap_add:
      - NET_ADMIN
    command: |
      sh -c "
      apk add --no-cache mosquitto-clients bash openssl iproute2
      
      ip route del default
      ip route add default via 192.168.10.254
      
      echo 'Capteur C1 demarre'
      
      while true; do
        POWER=$$((100 + RANDOM % 400))
        TIMESTAMP=$$(date +%s)
      
        mosquitto_pub --cafile /certs/ca.crt --cert /certs/client-capteur.crt --key /certs/client-capteur.key -h 10.0.0.20 -p 8883 -t 'iot/power' -m '{\"sensor\":\"C1\",\"value\":'$$POWER',\"unit\":\"W\",\"timestamp\":'$$TIMESTAMP'}'
      
        echo \"[$$(date)] Consommation envoyee: $$POWER W\"
        sleep 5
      done
      "
    networks:
      zone-a-iot:
        ipv4_address: 192.168.10.11
    volumes:
      - ../certificates/certs:/certs:ro
    restart: unless-stopped

  capteur-v1:
    image: alpine:latest
    container_name: capteur-v1
    hostname: capteur-v1
    cap_add:
      - NET_ADMIN
    command: |
      sh -c "
      apk add --no-cache mosquitto-clients bash openssl iproute2
      
      ip route del default
      ip route add default via 192.168.10.254
      
      echo 'Capteur V1 demarre'
      
      while true; do
        VIB=$$((RANDOM % 100))
        TIMESTAMP=$$(date +%s)
      
        mosquitto_pub --cafile /certs/ca.crt --cert /certs/client-capteur.crt --key /certs/client-capteur.key -h 10.0.0.20 -p 8883 -t 'iot/vibration' -m '{\"sensor\":\"V1\",\"value\":'$$VIB',\"unit\":\"Hz\",\"timestamp\":'$$TIMESTAMP'}'
      
        echo \"[$$(date)] Vibration envoyee: $$VIB Hz\"
        sleep 5
      done
      "
    networks:
      zone-a-iot:
        ipv4_address: 192.168.10.12
    volumes:
      - ../certificates/certs:/certs:ro
    restart: unless-stopped

networks:
  zone-a-iot:
    external: true